<section class="classroom-booking-section">
    <div class="blackboard"></div>
    <div class="book-seat">
        <div class="seating-area">
          <div class="row">
        </div>
    </div>
  </section>

  <script>

    // dynamically creating seats

    // definig contants 
    const totalSeats = 36;
    const seatsPerRow = 8;
    const rows = Math.ceil(totalSeats / seatsPerRow );
    const mid = Math.ceil(seatsPerRow / 2);

    // let initial seat number
    let seatNumber = 1;
    // for booked seat number
    const bookedSeats = [1 , 5, 10 , 12];


   function initBookingPage() {
    const seatingArea = document.querySelector(".seating-area");
    drawSeat();
    createClassroom(rows, seatsPerRow, mid, totalSeats, bookedSeats, seatingArea)
   } 

   function drawSeat(seatNumber, isBooked) {
    const seatDiv = document.createElement("div");
    seatDiv.classList.add("seat");
    seatDiv.textContent = `s-${seatNumber}`;
    
    // Mark the seat as booked if needed
    if (isBooked) {
      seatDiv.classList.add("booked");
    }
    
    return seatDiv;

   }

   function createClassroom(rows, seatsPerRow, mid, totalSeats, bookedSeats , seatingArea){
    for (let row = 1; row <= rows; row++) {
        const rowDiv = document.createElement('div');
        rowDiv.classList.add('row');

        for (let seat = 1; seat <= seatsPerRow; seat++) {
   
        if (seat === mid + 1 ) {
            const gapDiv = document.createElement('div');
            gapDiv.classList.add('middle-gap');
            rowDiv.appendChild(gapDiv);
        }

        if (seatNumber <= totalSeats) {
                const seatDiv = document.createElement('div');
                seatDiv.classList.add('seat');
                seatDiv.textContent = `s-${seatNumber}`;
                rowDiv.appendChild(seatDiv);
                seatNumber++;
                // for booked seats
                if(bookedSeats.includes(seatNumber - 1)){
                    seatDiv.classList.add('booked');
                }
            }
            


        }
        seatingArea.appendChild(rowDiv);
    }
   
   }




    // Function to create a middle gap div
  function createMiddleGap() {
    const gapDiv = document.createElement("div");
    gapDiv.classList.add("middle-gap");
    return gapDiv;
  }

 document.addEventListener("DOMContentLoaded", initBookingPage);
  </script>