<section class="classroom-booking-section">
    <div class="blackboard"></div>
    <div class="book-seat">
        <div class="seating-area">
          <div class="row">
        </div>
    </div>
  </section>

  <script>

   function initBookingPages() {
    
   } 
 document.addEventListener("DOMContentLoaded", initBookingPage);
  </script>