<!-- flash markup -->
<div class="flash-modal" id="flash-modal">
  <div class="modal-content" id="modalContent">
    <div class="modal-icon" id="modalIcon"></div>
    <p id="modal-message"></p>
    <span class="close-btn" id="modalCloseBtn">&times;</span>
  </div>
</div>
