<header>
  <div class="header-container">
    <div class="logo">
      <h3>Real Book</h3>
    </div>
    <nav>
      <ul>
        <li>
          <a href="#" class="btn btn-login">Login</a>
        </li>
        <li>
          <a href="#" class="btn btn-register">Register</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
