<header>
  <div class="header-container">
    <div class="logo">
      <h3>Real Book</h3>
    </div>
    <nav>
      <ul>
        <li>
          <a href="/sign-in" class="btn btn-login">Login</a>
        </li>
        <li>
          <a href="/sign-up" class="btn btn-register">Register</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
