<div class="seat-booking-modal" id="booking-modal">
  <div class="modal-container">
    <h3 id="modalText">Do you want to book this seat?</h3>
    <div class="modal-controls">
      <form action="/book-seat" class="form" method="POST">
        <button id="m-confirmBtn" type="submit" class="modal-btn">Yes</button>
        <button type="button" id="m-cancelBtn" class="modal-btn">Cancel</button>
      </form>
    </div>
  </div>
</div>
