<link rel="stylesheet" href="/styles/booking.css" />

<div class="classroom">
  <div class="classroom-container">
    <!-- classroom details markup -->
    <%- include('./partials/_details'); %>
    <!-- booking layout makrup -->
    <%- include('./partials/_booking');%>
    <!-- booking confirm modal -->
  </div>
</div>
