<link rel="stylesheet" href="/styles/booking.css" />

<div class="classroom">
  <div class="classroom-container">
    <%- include('./partials/_details'); %> <%- include('./partials/_booking');
    %>
  </div>
</div>
