<main>
  <div class="content-wrapper">
    <div class="content">
      <h2>Welcome to real book</h2>
      <p class="punch-line">
        Enjoy the benefits of booking your choice seat for learning at your
        desired time.
      </p>

      <ul class="benifits">
        <li>Book Seat</li>
        <li>Clear Audio</li>
        <li>Grow better</li>
      </ul>
    </div>

    <div class="booking-container">
      <form action="" class="book-seat">
        <h2>Book Your Favourite Seat</h2>
        <div class="book-seat-form-container">
          <div class="group-label">
            <label for="year-select">Year:</label>
            <select id="year-select" class="custom-select"></select>
          </div>
          <div class="group-label">
            <label for="month-select">Month:</label>
            <select id="month-select" class="custom-select"></select>
          </div>
          <div class="group-label">
            <label for="date-select">Date:</label>
            <select id="date-select" class="custom-select"></select>
          </div>
          <button type="submit" class="btn-check-seat">Check Seat</button>
        </div>
      </form>
    </div>
  </div>
  <!-- Call-to-Action Form -->
</main>
