<link rel="stylesheet" href="/styles/form.css" />

<div class="main-container">
  <div class="form-container">
    <h3 class="heading">Sign Up</h3>

    <form class="form" action="/create" method="POST">
      <!-- Username input -->
      <div class="form-control">
        <label class="form-label" for="name"></label>
        <input
          type="text"
          id="name"
          name="name"
          class="login-form-input"
          placeholder="Enter name"
          required
          autocomplete="off"
        />
      </div>

      <!-- Email input -->
      <div class="form-control">
        <label class="form-label" for="email"></label>
        <input
          type="email"
          id="email"
          name="email"
          class="login-form-input"
          placeholder="Enter your email"
          required
          autocomplete="off"
        />
      </div>

      <!-- Password input -->
      <div class="form-control">
        <label class="form-label" for="password"></label>
        <input
          type="password"
          id="password"
          name="password"
          class="login-form-input"
          placeholder="Password"
          required
        />
      </div>

      <!-- Confirm password input -->
      <div class="form-control">
        <label class="form-label" for="confirm_password"></label>
        <input
          type="password"
          id="confirm_password"
          name="confirm_password"
          class="login-form-input"
          placeholder="Confirm Password"
          required
        />
      </div>

      <!-- User role input -->
      <div class="form-control">
        <label class="form-label" for="role"></label>
        <select
          class="login-form-input"
          id="role"
          name="role"
          aria-label="Default select example"
          required
        >
          <option selected value="employee">Employee</option>
          <option value="admin">Admin</option>
        </select>
      </div>

      <!-- Buttons container -->
      <div>
        <!-- signup button -->
        <button type="submit" class="login-button">SIGN UP</button>
        <!-- google signup button button -->
      </div>

      <!-- Link to redierct to login page -->
    </form>
    <div class="bottom-nav">
      <h5 class="bottom-heading">Already have an Account?</h5>
      <a href="/" class="a-button link">Login</a>
    </div>
  </div>
</div>
