body {
  background-color: #f0f0f0;
}
header {
  position: inherit;
}
/* Classroom setup */
.classroom {
  width: 100%;
  position: relative;
  color: var(--clr-text-dark);
  margin-top: var(--mg-2);
}

.classroom .classroom-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  gap: 6rem;
}

/* classroom sidebar  */
.classroom .classroom-details {
  background-color: #fff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  padding: var(--pd-1-2) var(--pd-2);
  min-height: 80vh;
}
.classroom .classroom-details h3 {
  border-bottom: 1px solid #dbd6d6;
  padding-bottom: var(--pd-08);
  font-weight: var(--font-wt-600);
  letter-spacing: 0.2px;
}

.classroom .classroom-details h4 {
  font-size: 1.6rem;
  font-weight: var(--font-wt-500);
  margin-top: var(--mg-1-6);
  margin-bottom: var(--mg-08);
}

.classroom .seat-available .seat-analytics p {
  font-size: 1.4rem;
  margin-top: 0.4rem;
}

.classroom .seat-available .box {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  margin-right: var(--mg-08);
  border-radius: var(--pd-04);
}

/* calender */

.calender {
  margin-top: var(--mg-2);
  background-color: #f2fcf9;
  border-radius: var(--pd-04);
  border: 1px solid #e3e3e3;
}
.calender p {
  font-size: 1.4rem;
  font-weight: var(--font-wt-500);
  padding: var(--pd-08);
  margin-left: var(--mg-04);
}
.d-flex {
  display: flex;
  /* flex-direction: column; */
  gap: var(--pd-08);
}
.d-flex-c {
  display: flex;
  flex-direction: column;
}
.calender-container {
  padding: var(--pd-04);
}
.calender-container .c-btn {
  display: block;
  /* border: 1px solid; */
  font-size: 1.2rem;
  text-align: center;
  width: 3.8rem;
  height: 3.8rem;
  line-height: 3;
  border-radius: 50%;
}
.calender-container .date:hover {
  cursor: pointer;
  background-color: #fffefe;
}

.calender-container .weekday {
  font-weight: var(--font-wt-600);
}
.calender-container .date-container {
  margin-top: var(--mg-08);
}

.date-container .selected-date,
.date-container .selected-date:hover {
  background-color: cadetblue;
  color: var(--clr-text-light);
}

.empty-date {
  visibility: hidden;
}

/* Blackboard */
.blackboard {
  width: 100%;
  height: 2rem;
  background-color: #2c3e50;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

/* Seating area */
.seating-area {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

/* Seat rows */
.row {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
}

/* Seat styling */
.seat {
  width: 5.6rem;
  height: 5.6rem;
  background-color: var(--clr-seat);
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  line-height: 56px;
  color: #f0f0f0;
  font-size: 1.2rem;
  transition: transform 0.24s, box-shadow 0.3s;
}

.seat:hover {
  cursor: pointer;
  transform: translateY(-2px);
  background-color: var(--clr-clicked-seat);
}

.booked {
  background-color: var(--clr-booked);
  pointer-events: none !important;
}

.selected-seat {
  background-color: var(--clr-selected-seat);
}

.remaining-seat {
  background-color: var(--clr-seat);
}
.clicked-seat{
  background-color: var(--clr-clicked-seat);
}
.middle-gap {
  width: 80px;
  background-color: transparent;
}

/* modal styling */
.seat-booking-modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
}

.seat-booking-modal.show {
  display: block;
  opacity: 1;
}

.seat-booking-modal.hide {
  display: none;
}

.seat-booking-modal .modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f0f0;
  padding: var(--pd-1-2);
  text-align: center;
  border-radius: var(--pd-08);
  min-width: 320px;
  transform: scale(0.8);
  transition: transform 1s ease, opacity 0.5s ease;
  opacity: 0;
}

.modal-container.display {
  transform: scale(1);
  opacity: 1;
}

.seat-booking-modal .modal-container .modal-controls {
  margin-top: var(--mg-1-6);
}

.seat-booking-modal .modal-container h3 {
  font-size: 1.6rem;
  font-weight: var(--font-wt-500);
}

.seat-booking-modal .modal-container .modal-btn {
  padding: var(--pd-08) var(--pd-1-6);
  border-radius: var(--pd-04);
  color: #f0f0f0;
  margin: 0 var(--mg-08);
}
.seat-booking-modal .modal-container .modal-btn:hover {
  cursor: pointer;
}

.seat-booking-modal .modal-container #m-confirmBtn {
  background-color: rgb(27, 189, 27);
}

.seat-booking-modal .modal-container #m-cancelBtn {
  background-color: var(--clr-booked);
}
